Lab1/backCPP/backCPP.xcodeproj
.DS_Store
Lab1/.DS_Store
Lab1/backCPP/backCPP.xcodeproj/project.pbxproj
Lab1/backCPP/backCPP.xcodeproj/project.xcworkspace/xcuserdata/nikita.xcuserdatad/UserInterfaceState.xcuserstate
Lab1/backCPP/.DS_Store
Lab1/launchPY/__pycache__/
.idea/ComputerGraphics.iml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/.gitignore
Lab2/__pycache__/Parameters.cpython-311.pyc
Lab2/__pycache__/Root.cpython-311.pyc
Lab2/__pycache__/Star.cpython-311.pyc
Lab2/__pycache__/dot.cpython-311.pyc
Lab2/__pycache__/Propeller.cpython-311.pyc
Lab2/__pycache__/Plane.cpython-311.pyc
Lab3/__pycache__
Lab4/__pycache__
Lab5/__pycache__
Lab6/__pycache__





